<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <%= form_tag(root_path, :method => "get", id: "search-form", class: "input-group") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Products", class: "form-control" %>
      <span class="input-group-btn">
        <%= submit_tag "Search", :name => nil, class: "btn btn-default" %>
      </span>
      <% end %>
    </div>
    <!-- /input-group -->
  </div>
  <!-- /.col-lg-6 -->
</div>
<hr>
<div class="row">
  <% @products.each do |product|%>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag product.photo, style: 'height:15em'%>
      <div class="caption">
        <h3><%= product.name %></h3>
        <p><%= "€#{product.price}"%></p>
        <%= link_to "Add to cart", {:controller => :shopping_cart, :action => 'create', :product_id => product.id }, :method => :create,class: "btn btn-primary" %>
        <%= link_to "View", product, class: "btn btn-default"%>
      </p>
    </div>
  </div>
</div>
<%end%>
<%= render "shared/shopping_cart"%>
</div>
