<!DOCTYPE html>
<html>
  <head>
    <title>Bigdreams</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar"%>
    <div class="container">
      <div class="col-12 col-md-10">
        <% if notice != nil %>
        <div class="alert alert-success alert-dismissible" role="alert">
          <%= notice %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%end%>
        <% if alert != nil %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <%= alert %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%end%>
      </div>

      <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-12 col-md-10">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
